.cajita-opciones {
    border-radius: 10px; /* Cambia el radio del borde según tus necesidades */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Añade una sombra para dar profundidad */
}
.cajita-tabla{
    border-radius: 10px; /* Cambia el radio del borde según tus necesidades */
    border-color: rgba(30, 94, 94, 0);
}