.hero__ite {
    border-radius: 10px; /* Cambia el radio del borde según tus necesidades */
    background-color: #f9f9f9; /* Cambia el color de fondo según tus necesidades */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Añade una sombra para dar profundidad */
    transition: 0.3s; /* Añade una transición para suavizar los cambios de estado */
    height: 431px;
	display: flex;
	align-items: center;
	padding-left: 75px;
}
.hero__ite:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Aumenta la sombra al pasar el ratón */
}

.modern-button {
    background-color: #2499c7; /* Cambia el color de fondo según tus necesidades */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s; /* Añade una transición para suavizar los cambios de estado */
    cursor: pointer;
    border-radius: 12px; /* Añade bordes redondeados */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Añade una sombra para dar profundidad */
}


.modern-button:hover {
    background-color: #006691; /* Cambia el color de fondo al pasar el ratón */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Aumenta la sombra al pasar el ratón */
}
.text-title{
    font-size: 20px;
    font-weight: 500;
    color: #006691;
    margin-bottom: 20px;
}


/* Estilo para el formulario de búsqueda */
.hero__search__form {
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

/* Estilo para el campo de entrada de texto */
.hero__search__form input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: black;
}

/* Estilo para el botón de búsqueda */
.hero__search__form .site-btn {
    padding: 10px 20px;
    border: none;
    background-color: #2499c7;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Cambia el color de fondo del botón al pasar el ratón */
.hero__search__form .site-btn:hover {
    background-color: #006691;
}
/*Estilo de categorias */
.modern-container {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.modern-categories {
    padding: 10px;
}

.modern-all {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.modern-icon {
    margin-right: 10px;
    font-size: 24px;
}

.modern-span {
    font-size: 18px;
    font-weight: bold;
}

.modern-list {
    list-style: none;
    padding-left: 0;
}

.modern-item {
    margin-bottom: 5px;
}

.modern-link {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.modern-categoria {
    background-color: #2499c7; /* Cambia el color de fondo según tus necesidades */
    border: none;
    color: white;
	position: relative;
	padding: 10px 25px 10px 40px;
	cursor: pointer;
    border-radius: 12px; /* Añade bordes redondeados */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Añade una sombra para dar profundidad */
}

/* el menu
*/
.modern-a:hover {
    background-color: #fdfdfd; /* Cambia el color de fondo según tus necesidades */
    color: #2499c7!important;
}
.cuenta-usuario{
    background-color: #2499c7; /* Cambia el color de fondo según tus necesidades */
    border: none;
    color: white!important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100px;
    height: 40px;
}


/*Parte de Seccion de categorias */
